@import './base.css';

/* * {
    box-shadow: 0 0 0 3px red;
} */

section {
    padding: 0.5rem 1rem;
}

.pill {
    background-color: var(--primary);
    color: var(--vt-c-white);
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 25px;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}