@import './base.css';

/* * {
    box-shadow: 0 0 0 3px red;
} */

/* DESKTOP */
@media (min-width: 1024px) {
    main {
        margin: 1rem 4rem;
        padding: 1rem 4rem;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        margin: 1rem 2rem;
        padding: 1rem 3rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    main {
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

section {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
}

h2.page-title {
    border: none;
    border-left: 5px solid var(--primary);
    color: var(--dark);
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    animation-name: slideLeft;
    animation-duration: 0.5s;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h3.section-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h3.section-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--primary);
    margin-top: 0.25rem;
}

img.page-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem 0;
}

p.page-text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

span.pill {
    background-color: var(--primary);
    color: var(--light);
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 25px;
}

a.button,
button.button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.button.positive {
    background-color: var(--primary);
    color: var(--light);
    border: 2px solid var(--primary);
}

.button.positive:hover,
.button.negative {
    background-color: var(--light);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.primary {
    color: var(--primary);
}

a.link,
span.link {
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
}

a.link:hover,
span.link:hover {
    text-decoration: underline;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.icon-offset {
    position: relative;
    top: 2px;
    right: 5px;
}

ul.fancy-list>li::before {
    content: "•";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}