@import './base.css';

/* * {
    box-shadow: 0 0 0 3px red;
} */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

/* Code for Firefox */
::-moz-selection {
    color: var(--vt-c-white);
    background: var(--primary);
}

::selection {
    color: var(--vt-c-white);
    background: var(--primary);
}

body {
    background-color: var(--vt-c-white);
    font-family: "Roboto", sans-serif;
}

section {
    padding: 0.5rem 1rem;
}

.pill {
    background-color: var(--primary);
    color: var(--vt-c-white);
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 25px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}